.flex-row {
    display: flex;

    &.jc-sb {
        justify-content: space-between;
    }

    &.ai-center {
        align-items: center;
    }

    &.ai-start {
        align-items: flex-start;
    }

    &.ai-stretch-center {
        align-items: stretch;

        .flex-box {
            justify-content: center;
        }
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.flex-box {
    display: flex;
    width: 100%;

    &.flex-column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &.flex-half {
        flex: 1 0 50%;
        max-width: 50%;
    }

    @media screen and(max-width: 1024px) {
        &.flex-half {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
}

.flex-box-content {
    max-width: 620px;
    padding: 0 0 0 77px;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}
