@font-face {
    font-family: 'Casper Bold';
    src: url('../../fonts/subset-Casper-Bold.eot');
    src: url('../../fonts/subset-Casper-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-Casper-Bold.woff2') format('woff2'),
        url('../../fonts/subset-Casper-Bold.woff') format('woff'),
        url('../../fonts/subset-Casper-Bold.ttf') format('truetype'),
        url('../../fonts/subset-Casper-Bold.svg#Casper-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Casper Regular';
    src: url('../../fonts/subset-Casper-Regular.eot');
    src: url('../../fonts/subset-Casper-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-Casper-Regular.woff2') format('woff2'),
        url('../../fonts/subset-Casper-Regular.woff') format('woff'),
        url('../../fonts/subset-Casper-Regular.ttf') format('truetype'),
        url('../../fonts/subset-Casper-Regular.svg#Casper-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helen Bg Bold';
    src: url('../../fonts/subset-HelenBg-Bold.eot');
    src: url('../../fonts/subset-HelenBg-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-HelenBg-Bold.woff2') format('woff2'),
        url('../../fonts/subset-HelenBg-Bold.woff') format('woff'),
        url('../../fonts/subset-HelenBg-Bold.ttf') format('truetype'),
        url('../../fonts/subset-HelenBg-Bold.svg#HelenBg-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helen Bg Regular';
    src: url('../../fonts/subset-HelenBg-Regular.eot');
    src: url('../../fonts/subset-HelenBg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/subset-HelenBg-Regular.woff2') format('woff2'),
        url('../../fonts/subset-HelenBg-Regular.woff') format('woff'),
        url('../../fonts/subset-HelenBg-Regular.ttf') format('truetype'),
        url('../../fonts/subset-HelenBg-Regular.svg#HelenBg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
