body {
    font-family: $body-font;
    &:not(.page-homepage) {
        padding-top: 115px;
    }
    @media screen and(max-width: 768px) {
        &:not(.page-homepage) {
            padding-top: 71px;
        }   
    }
}
* {
    box-sizing: border-box;
    &::selection {
        background-color: $color-2;
    }
}

p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: $paragraph-color;
    margin: 0;
}

.text {
    ol,
    ul {
        padding: 0 0 0 20px;

        li {
            font-size: 20px;
            letter-spacing: 0.5px;
            color: $paragraph-color;

            & + li {
                margin-top: 15px;
            }
        }
    }

    b,
    strong,
    p span,
    h3 {
        color: $color-1;
    }

    h3 {
        font-size: 24px;
    }
}

.embed-video {
    margin-top: 100px;
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;

    iframe {
        margin: 0 auto;
        display: block;
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and(max-width: 685px) {
        iframe {
            width: 100%;
        }
    }
}

.text-underline {
    text-decoration: underline;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: $container-width;
    &.container-big {
        max-width: $container-big-width;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    margin: 0;
}
.img-box {
    img {
        max-width: 100%;
        display: block;
        margin: 0;
    }
}
.text-center {
    text-align: center;
    .text {
        margin-left: auto;
        margin-right: auto;
    }
}
.animation-transform {
    transition: $transition-transform;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.justiy-content-center {
    justify-content: center;
}
