.title-container {
    &.title-center {
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $subtitle-color;
        font-family: $regular-font;
        font-weight: normal;
        margin-bottom: 25px;
    }

    .main-title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.5px;
        color: $title-color;
        margin-bottom: 20px;
    }

    .button-container {
        margin-top: 50px;
    }

    .text {
        margin-bottom: 30px;
        max-width: 760px;
    }

    @media screen and (max-width: 1024px) {
        .main-title {
            font-size: 30px;
            line-height: 35px;
        }
    }

    @media screen and (max-width: 768px) {
        .main-title {
            font-size: 26px;
            line-height: 30px;
        }
    }
}
