// $body-font: 'Casper Regular', sans-serif;
// $title-font: 'Casper Bold', sans-serif;
// $regular-font: 'Casper Regular', sans-serif;
// $bold-font: 'Casper Bold', sans-serif;

$body-font: 'Helen Bg Regular', sans-serif;
$title-font: 'Helen Bg Bold', sans-serif;
$regular-font: 'Helen Bg Regular', sans-serif;
$bold-font: 'Helen Bg Bold', sans-serif;

$nav-link-color: #363636;
$title-color: #000;
$subtitle-color: #6B6B6B;
$paragraph-color: #696969;
$gray-bg: #F7F7FB;

$btn-main-bg: #25AAE1;
$btn-hover-bg: #2199CB;

$container-width: 1260px;
$container-big-width: 1360px;
$two-ms: all 0.2s ease-in-out;
$three-ms: all 0.3s ease-in-out;
$transition-transform: all 1.8s ease-out;

$color-1: #25AAE1;
$color-2: #B7E7FB;
$color-3: #04366D;
$color-4: #27aae1;

$gray-1: #dfdcd7;
