.btn {
    width: auto;
    font-size: 18px;
    letter-spacing: 0.46875px;
    padding: 18px 35px;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: $btn-main-bg;
    color: #fff;
    border-radius: 28px;
    cursor: pointer;
    font-family: $bold-font;
    transition: $two-ms;
    text-decoration: none;

    &.has-icon-phone {
        &::before {
            content: "";
            width: 15px;
            height: 15px;
            margin: 0 10px -2px 0;
            display: inline-block;
            background: url('../../images/icon-phone.svg') no-repeat center;
            filter: invert(1);
        }

        &:hover::before {
            animation: ring-animation 1s infinite ease-in-out;
        }
    }

    @media screen and(min-width: 1025px) {
        &:hover {
            background-color: $btn-hover-bg;
        }
    }

    @media screen and(max-width: 685px) {
        padding: 16px 20px;
    }

    &.btn-primary {
        background-color: $color-1;
    }

    &.btn-blue {
        background-color: $color-3;
    }
}

.btn-link {
    font-family: $bold-font;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.46875px;
    color: #302F2F;
    text-decoration: none;
    position: relative;
    padding: 8px 0;
    display: inline-block;
    &::before {
        content: "";
        width: 20px;
        height: 16px;
        background: url(../../images/icon-arrow-right.svg) no-repeat center;
        background-size: 20px 8px;
        display: inline-block;
        float: left;
        margin-left: -20px;
        transition: $two-ms;
        opacity: 0;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        display: block;
        background-color: #484747;
    }
    &:hover {
        &::before {
            opacity: 1;
            margin-left: 0;
        }
    }
}

.button-container {
    display: flex;
    align-items: center;
}

.apply-now {
    text-decoration: none;
    color: $color-1;
    transition: $two-ms;
    font-size: 20px;

    &:hover {
        color: $color-3;
    }

    .icon {
        margin: 0 0 -5px 0;
    }
}

@keyframes ring-animation {
    0%,
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
  
    20%,
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
