.icon {
    background-attachment: no-repeat;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;

    &.icon-bg-flag {
        width: 26px;
        height: 26px;
        background-image: url(../../images/icon-bg-flag.svg);
        border-radius: 50%;
        overflow: hidden;
    }

    &.icon-en-flag {
        width: 26px;
        height: 26px;
        background-image: url(../../images/icon-en-flag.png);
        background-size: 26px 26px;
        border-radius: 50%;
        overflow: hidden;
    }

    &.icon-close {
        width: 16px;
        height: 16px;
        background-image: url(../../images/icon-close.svg);
    }

    &.icon-next {
        width: 30px;
        height: 20px;
        background-size: contain;
        background-image: url(../../images/arrow-next.svg);
    }
}