.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .3);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: $two-ms;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: $two-ms;
    max-width: 1200px;
    .close-popup {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background: url(../../images/icon-close.svg) no-repeat center;
        cursor: pointer;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .popup-content {
        padding: 30px 40px;
        background-color: #fff;
    }
    p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: $paragraph-color;
        margin: 0;
    }
    ol,
    ul {
        padding: 0 0 0 20px;
        li {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.5px;
            color: $paragraph-color;
            & + li {
                margin-top: 15px;
            }
        }
    }
    
    @media screen and(max-width: 768px) {
        max-width: 100%;
        width: 97%;
        .popup-content {
            max-height: 80vh;
            overflow: auto;
        }
    }
}