.social-links {
    display: flex;
    a {
        width: 31px;
        height: 31px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-color: $color-1;
        }
        &.social-insta {
            background-image: url(../../images/icon-insta.svg);
            &:hover {
                background-image: url(../../images/icon-insta-white.svg);
            }
        }
        & + a {
            margin-left: 10px;
        }
    }
}