.social-nav {
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            & + li {
                margin-left: 10px;
            }
            a {
                background-color: #F7F7FB;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                transition: $two-ms;
            }
        }
    }

    @media screen and(min-width: 1025px) {
        ul {
            li {
                a {
                    &:hover {
                        background-color: #121214;
                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}