.swiper-buttons {
    display: flex;
    .swiper-button-prev,
    .swiper-button-next {
        position: relative;
        left: initial;
        right: initial;
        bottom: initial;
        top: initial;
        margin: 0;
        width: 49px;
        height: 49px;
        background-color: #F7F7FB;
        opacity: 1;
        background-size: auto;
        outline: none;
        transition: $two-ms;
        &:hover {
            background-color: $btn-main-bg;
        }
    }
    .swiper-button-next {
        background-image: url(../../images/icon-arrow-right.svg);
        margin-left: 12px;
        &:hover {
            background-image: url(../../images/icon-arrow-right-white.svg);
        }
    }
    .swiper-button-prev {
        background-image: url(../../images/icon-arrow-left.svg);
        &:hover {
            background-image: url(../../images/icon-arrow-left-white.svg);
        }
    }

    @media screen and (max-width: 768px) {
        .swiper-button-prev,
        .swiper-button-next {
            &:hover {
                background-color: $btn-main-bg !important;
            }
        }
    }
}