@font-face {
    font-family: 'Casper';
    src: url('subset-Casper-Bold.eot');
    src: url('subset-Casper-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Casper-Bold.woff2') format('woff2'),
        url('subset-Casper-Bold.woff') format('woff'),
        url('subset-Casper-Bold.ttf') format('truetype'),
        url('subset-Casper-Bold.svg#Casper-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Casper';
    src: url('subset-Casper-Regular.eot');
    src: url('subset-Casper-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Casper-Regular.woff2') format('woff2'),
        url('subset-Casper-Regular.woff') format('woff'),
        url('subset-Casper-Regular.ttf') format('truetype'),
        url('subset-Casper-Regular.svg#Casper-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

