.section-about-us {
    .images-container {
        columns: 2;
        column-gap: 20px;
        width: 100%;
        text-align: center;
        max-width: 682px;
        margin: auto;
        .img-box {
            width: auto;
            display: inline-block;
            &:nth-child(1) {
                margin-top: 100px;
                margin-bottom: 20px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                float: right;
            }
            &:nth-child(3),
            &:nth-child(4) {
                float: left;
            }
            &:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .flex-box-content {
            padding-left: 40px;
        }
    }

    @media screen and (max-width: 768px) {
        .flex-box-content {
            padding-left: 0;
            margin-top: 30px;
        }
        .flex-row {
            flex-direction: column;
        }
        .title-container {
            text-align: center;
            .button-container {
                justify-content: center;
            }
        }
    }
}