.section-active-progrmas {
    .text {
        margin-bottom: 30px;
    }

    .swiper-buttons {
        justify-content: center;
    }

    @media screen and(min-width: 1025px) {
        .swiper-buttons {
            display: none;
        }
    }
}

.active-programs {
    .active-program {
        a {
            text-decoration: none;
        }

        .img-box {
            margin-bottom: 15px;
        }

        .active-program-title {
            font-size: 22px;
            font-family: $bold-font;
            color: $nav-link-color;
            text-decoration: none;
            transition: all .2s ease-in-out;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        &:hover {
            .active-program-title {
                color: $color-1;
            }
        }
    }
}
