.section-jobs {
    .accordion {
        background-color: #fff;
        border: 1px solid #dfdcd7;
        border-radius: 10px;

        + .accordion {
            margin-top: 25px;
        }
    }

    .accordion-title {
        font-size: 26px;
        font-weight: normal;
        padding: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            transform: rotate(90deg);
            transition: all 0.2s ease-in-out;
        }

        &.active {
            .icon {
                transform: rotate(-90deg);
            }
        }
    }

    .accordion-content {
        display: none;
        padding: 0 30px 30px;
    }

    @media screen and(max-width: 768px) {
        .accordion-title {
            font-size: 20px;
            padding: 20px;
        }
    
        .accordion-content {
            padding: 0 20px 20px;

            .text {
                ul li,
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}
