.section-carousel-text {
    > .container {
        position: relative;
        > .title-container {
            position: absolute;
            left: 20px;
            top: 0;
            > .main-title {
                text-transform: uppercase;
                font-size: 17px;
                line-height: 52px;
                letter-spacing: 0.177083px;
                text-transform: uppercase;
                color: #3D4047;
            }
        }
    }
    .img-box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-1;
        border-radius: 10px;
    }
    .swiper-buttons {
        .swiper-button-next,
        .swiper-button-prev {
            background-color: #fff;
        }
    }
    .swiper-text {
        .text-content {
            padding: 50px 50px 70px 0;
        }
    }
    .swiper-slide {
        .title-container {
            .main-title {
                line-height: 42px;
            }
        }
    }

    @media screen and(max-width: 768px) {
        .img-box {
            padding: 40px 20px;
        }
        .title-container {
            .main-title {
                margin-bottom: 10px;
            }
            .text {
                margin-bottom: 10px;
            }
        }
        > .container > .title-container {
            position: relative;
            text-align: center;
            left: initial;
            top: initial;
        }
        .swiper-text {
            .flex-row {
                flex-direction: column;
            }
            .text-content {
                padding: 0 0 20px 0;
            }
            .swiper-buttons {
                position: relative;
                padding: 20px 0 0 0;
                bottom: initial;
                left: initial;
                justify-content: center;
            }
        }
    }
}