.section-clients {
    .flex-box {
        flex: 1 0 25%;
    }
    .client-item {
        width: 100%;
    }
    .img-box {
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
            transition: $two-ms;
            margin: 0 auto;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media screen and(max-width: 768px) {
        .flex-box {
            flex: 1 50%;
            padding: 0 10px;
        }
    }
}