.section-company-info {
    padding-bottom: 0;
    overflow: visible;

    &.has-video {
        margin-bottom: 200px;

        .company-text {
            margin-bottom: 100px;
        }
    }

    .title-container {
        max-width: 560px;
        width: 100%;
    }

    .company-text {
        columns: 2;
        column-gap: 140px;
    }

    .video-box {
        position: relative;
        margin-bottom: -300px;

        .play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 96px;
            height: 96px;
            margin-left: -48px;
            margin-top: -48px;
            background-image: url(../../images/icon-play.svg);
            background-color: $color-1;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            z-index: 10;
            cursor: pointer;
            &.active {
                background-color: rgba($color-1, 0.3);
                background-image: url(../../images/icon-pause.svg);
            }
        }
        .video {
            width: 100%;
        }
    }

    @media screen and(max-width: 768px) {
        &.has-video {
            margin-bottom: 0;

            .company-text {
                margin-bottom: 60px;
            }
        }

        .video-box {
            margin-bottom: 0;
        }

        .title-container {
            max-width: 100%;
        }

        .company-text {
            columns: 1;
            column-gap: 0;
        }
    }
}