.section-contacts-info {
    background-color: $color-3;
    .flex-box {
        flex: 1 0 50%;
    }
    .contacts-item {
        padding: 20px 20px 20px 0;
        width: 100%;
        .title {
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 0.4375px;
            text-transform: uppercase;
            color: #D7D7D7;
            margin-bottom: 10px;
        }
        .phone {
            color: #fff;
            font-size: 50px;
            line-height: 22px;
            letter-spacing: 1.5625px;
            text-decoration: none;
        }
        .email {
            font-size: 31px;
            line-height: 22px;
            letter-spacing: 0.96875px;
            color: #fff;
            text-decoration: none;
        }
        .text {
            p {
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0.46875px;
                color: #fff;
            }
        }
    }

    @media screen and (max-width: 685px) {
        .flex-box {
            flex: 1 0 100%;
            & + .flex-box {
                margin-top: 30px;
            }
        }
        .contacts-item {
            padding: 10px 0;
            .phone, .email {
                font-size: 30px;
            }
        }
    }
}