.section-counter {
    .title-container {
        .main-title {
            margin-bottom: 40px;
        }
    }
    .swiper-buttons {
        display: none;
    }

    @media screen and (max-width: 768px) {
        padding: 40px 30px !important;
        .title-container {
            .main-title {
                margin-bottom: 30px;
            }
        }
        .swiper-buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 22px 0 0 0;
            [class*="swiper-button"] {
                background-color: #fff;
            }
        }
    }
}
.counter-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    .counter-image {
        img {
            width: 100%;
            display: block;
            margin: 0;
        }
    }
    .counter-item {
        &:nth-child(1),
        &:nth-child(2) {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
    }
}
.counter-item {
    position: relative;
    height: 100%;
    .counter-info {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .counter-number {
        font-size: 54px;
        line-height: 62px;
        letter-spacing: 0.5px;
    }
    .counter-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-image: url(../../images/icon-counter.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .counter-title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.166667px;
        padding-top: 25px;
        border-top: 1px solid #fff;
    }
    &:nth-child(4n + 1) {
        background-color: $color-1;
        color: #fff;
        .counter-icon {
            background-color: $color-3;
        }
        .counter-info {
            position: relative;
            height: 50%;
        }
    }
    &:nth-child(4n + 2) {
        color: #fff;
        .counter-icon {
            width: 72px;
            height: 72px;
            background-color: #fff;
            background-image: url('../../images/icon-counter-blue.svg');
        }
        .counter-info {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    &:nth-child(4n + 3) {
        background-color: $color-2;
        color: #000;
        .counter-title {
            border-color: #000;
        }
        .counter-icon {
            background-color: $color-1;
        }
    }
    &:nth-child(4n + 4) {
        background-color: #fff;
        color: #000;
        .counter-icon {
            background-color: $color-1;
        }
        .counter-title {
            border-color: #000;
        }
    }

    @media screen and (max-width: 1024px) {
        .counter-info {
            padding: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        .counter-image {
            display: none;
        }
        .counter-icon {
            margin-bottom: 10px;
        }
        .counter-number {
            font-size: 42px;
            line-height: 62px;
            letter-spacing: 0.4375px;
            margin-bottom: 10px;
        }
        &:nth-child(4n + 2) {
            color: #fff;
            background-color: $color-3;
            .counter-icon {
                width: 36px;
                height: 36px;
                background-color: #fff;
                background-image: url('../../images/icon-counter-blue.svg');
                background-size: 18px;
            }
            .counter-info {
                position: relative;
                left: initial;
                right: initial;
                top: initial;
                bottom: initial;
            }
        }
    }
}