.section-covid {
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(247, 247, 247);

    @media screen and(max-width: 685px) {
        background-size: cover;
    }
}
