.section-cta {
    .button-container {
        margin-top: 20px;
    }

    .flex-row {
        margin-left: -15px;
        margin-right: -15px;

        .flex-box {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &:nth-child(odd) {
        background-color: $gray-bg;

        .flex-row {
            flex-direction: row-reverse;
        }
    }

    @media screen and(max-width: 992px) {
        &:nth-child(odd) .flex-row,
        .flex-row {
            flex-direction: column;

            .flex-box + .flex-box {
                margin-top: 25px;
            }
        }
    }
}
