.section-icons {
    .title-container {
        margin-bottom: 50px;
    }
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    .item-content {
        max-width: 50%;
        flex: 1 0 50%;
        width: 100%;
        padding: 10px 15px 35px 15px;
        margin-bottom: 20px;

        .img-box {
            display: block;
            margin: 0 auto 15px auto;
            max-width: 70px;
        }

        .text {
            p {
                font-size: 20px;
                line-height: 28px;
                font-family: $bold-font;
            }
        }
    }

    @media screen and(min-width: 769px) {
        .item-content {
            max-width: 25%;
            flex: 1 0 25%;
        }
    }
}
