.section-our-mission {
    background-color: $color-4;
    .title-container {
        max-width: 684px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        .subtitle,
        .main-title {
            color: #fff;
        }
        .text {
            p {
                font-family: $bold-font;
                font-weight: 700;
                font-size: 28px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.291667px;
                color: #fff;
            }
        }
    }

    @media screen and(max-width: 1024px) {
        .title-container {
            .text {
                p {
                    font-size: 14px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.125px;
                }
            }
        }
    }
}