.section-page-header {
    position: relative;

    .img-box {
        img {
            display: block;
            margin: 0;
            width: 100%;
        }
    }

    .page-caption {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .page-title {
        font-weight: bold;
        font-size: 48px;
        line-height: 62px;
        letter-spacing: 0.5px;
        color: #fff;
    }

    .text {
        p {
            color: #fff;
        }
    }

    .btn-container {
        margin-top: 50px;
    }

    &.no-image {
        min-height: 370px;
        background-color: $color-4;

        .page-title {
            color: #fff;
        }
    }

    @media screen and(max-width: 768px) {
        .page-title {
            font-size: 32px;
            line-height: 32px;

            br {
                display: none;
            }
        }

        &.no-image {
            min-height: 170px;
        }

        .img-box {
            img {
                min-height: 200px;
                object-fit: cover;
            }
        }
    }
}