.section-pharma {
    background-color: $color-3;

    .flex-box {
        flex-direction: column;
    }

    .title-container {
        margin-bottom: 30px;

        .main-title {
            color: #fff;
        }
    }

    .text {
        color: #fff;

        * {
            color: #fff;
        }

        p {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }

    .btn-declaration {
        margin-top: auto;
        display: flex;

        .btn {
            border-radius: 0;
            display: flex;
            align-items: center;
        }
    }

    .icon-download {
        width: 22px;
        height: 22px;
        background-image: url(../../images/icon-download.svg);
        display: inline-block;
    }

    @media screen and(min-width: 769px) {
        .img-box {
            max-width: 90%;
        }
    }

    @media screen and(max-width: 768px) {
        .flex-row {
            flex-direction: column-reverse;
        }

        .img-box {
            margin: 40px auto 0 auto;
        }
    }
}