.section-price-table {
    .accordion-title {
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        + table {
            margin-top: 25px;
        }
    
        th {
            font-family: $bold-font;
        }
    
        tr:nth-child(even) {
            td {
                background-color: $gray-bg;
            }
        }

        td,
        th {
            padding: 10px;
            border: 1px solid $gray-1;
            font-size: 16px;
        }
    }

    .accordion-content {
        .text {
            overflow-y: auto;
        }
    }
}
