.section-left-right {
    .section-programs:nth-of-type(even) {
        background-color: $color-3;

        * {
            color: #fff;
        }

        @media screen and(min-width: 769px) {

            .program-item .title-container {
                padding-right: 0;
            }
    
            .img-box {
                padding-right: 50px;
            }

            .flex-row {
                flex-direction: row-reverse;
            }
        }
    }
}

.program-item {
    &:nth-child(odd) {
        .title-container {
            padding-right: 125px;
        }
    }
    &:nth-child(even) {
        .flex-row {
            flex-direction: row-reverse;
        }
        .title-container {
            padding-left: 125px;
        }
    }

    @media screen and(max-width: 768px) {
        .flex-row {
            flex-direction: column-reverse;
        }

        .title-container {
            margin-top: 30px;
            text-align: center;

            li {
                text-align: left;
            }

            .button-container {
                justify-content: center;
                margin-top: 20px;
            }
        }

        &:nth-child(odd) {
            .title-container {
                padding-right: 0;
            }
        }

        &:nth-child(even) {
            .flex-row {
                flex-direction: column-reverse;
            }

            .title-container {
                padding-left: 0;
            }
        }
    }
}