.section-site-nav {
    padding-top: 200px !important;

    .container {
        display: flex;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
        width: auto;
        min-width: 260px;
        min-height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-family: $regular-font;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 4px;
            border-radius: 4px;
            background-color: $color-1;
        }

        a {
            color: $nav-link-color;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .2s ease-in-out;
            width: 100%;
            height: 100%;
            padding: 0 30px;

            &:hover {
                color: $color-1;
            }
        }

        .icon {
            display: inline-block;
            flex-shrink: 0;
            margin-left: 20px;
            max-width: 60px;

            img {
                max-width: 100%;

                &.svg {
                    width: 70px;
                }
            }
        }

        &:last-child::after {
            display: none;
        }
    }

    @media screen and(max-width: 1024px) {
        padding-top: 100px !important;

        .container {
            flex-wrap: wrap;

            h3 {
                max-width: 50%;
                min-width: 50%;
                font-size: 20px;

                a {
                    padding: 0 10px;
                }

                .icon {
                    margin-right: 10px;
                }

                &:nth-child(2n + 2)::after {
                    display: none;
                }
            }
        }
    }

    @media screen and(max-width: 685px) {
        .container {
            flex-direction: column;

            h3 {
                max-width: 100%;
                min-width: auto;
                justify-content: flex-start;

                &::after {
                    display: block !important;
                }
            }
        }
    }
}
