.section {
    overflow: hidden;

    &:not(.section-page-header) {
        padding: 120px 0;
    }

    &.section-gray-bg {
        background-color: $gray-bg;
    }

    &.section-title {
        padding-bottom: 0;
    }

    &.section-padding-sm {
        padding: 50px 0;
    }
    
    @media screen and(max-width: 1024px) {
        &:not(.section-page-header) {
            padding: 50px 0;
        }
    }
}