.section-services {
    overflow: hidden;
    .swiper-buttons {
        position: absolute;
        right: 0;
        top: -70px;
        .swiper-button-prev,
        .swiper-button-next {
            background-color: $gray-bg;
            &:hover {
                background-color: $color-1;
            }
        }
    }
    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        .img-box {
            img {
                width: 100%;
            }
        }
        &:not(.swiper-slide-visible) {
            .img-box {
                img {
                    filter: grayscale(100%);
                }
            }
        }
    }

    @media screen and(max-width: 1024px) {
        .title-container {
            max-width: 70%;
        }
    }

    @media screen and(max-width: 768px) {
        .title-container {
            max-width: 100%;
        }
        .swiper-buttons {
            position: relative;
            right: initial;
            top: initial;
            padding: 20px 0 0 0;
            display: flex;
            justify-content: center;
        }
    }
}
.single-service {
    position: relative;
    .service-caption {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 40px;
        color: #fff;
        font-size: 22px;
        line-height: 28px;
        background: $color-3;
        background: linear-gradient(0deg, rgba($color-3, 1) 0%, rgba(255, 255, 255, 0) 55%);
    }

    @media screen and(max-width: 685px) {
        .service-caption {
            padding: 20px;
        }
    }

    @media screen and(max-width: 685px) {
        .service-caption {
            font-size: 18px;
        }
    }
}