.team-members {
    padding: 50px 0;
    .flex-box {
        flex: 1 0 33.33%;
        max-width: 33.33%;
        border-left: 1px solid #D8D8D8;
        padding: 0 20px;
        margin-bottom: 35px;
        &:nth-child(3n + 1) {
            border-left: none;
        }
    }
    .team-member {
        padding: 20px 30px;
        width: 100%;
        .img-box {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .team-member-name {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000;
        }
        .team-member-position {
            font-size: 14px;
            line-height: 22px;
            color: rgba(#000, 0.6);
        }
        .team-member-info {
            display: flex;
        }
        .social-links {
            margin-left: auto;
        }
    }

    @media screen and(max-width: 768px) {
        .flex-box {
            flex: 1 0 50%;
            max-width: 50%;
            &:nth-child(2n + 1) {
                border-left: none;
            }
            &:nth-child(2n + 2) {
                border-left: 1px solid #D8D8D8;
            }
        }
        .team-member {
            padding: 10px 20px;
        }
    }

    @media screen and(max-width: 685px) {
        .team-member {
            padding: 10px 0;
        }
        .flex-box {
            flex: 1 0 100%;
            max-width: 100%;
            border-left: none;
            padding: 0;
            &:nth-child(2n + 1) {
                border-left: none;
            }
            &:nth-child(2n + 2) {
                border-left: none;
            }
        }
    }
}
.section-our-team {
    .text-content {
        padding-right: 70px;
    }

    @media screen and(max-width: 768px) {
        .text-content {
            padding-right: 0;
        }
        .title-container {
            text-align: center;
        }
        > .container:first-of-type > .flex-row {
            flex-direction: column;
            .flex-box > .img-box {
                margin-top: 30px;
            }
        }
    }
}