.section-testimonials {
    overflow: hidden;
    .container {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
    .swiper-inventar {
        display: flex;
        flex-direction: column;
        width: 323px;
        flex-shrink: 0;
    }
    .swiper-container {
        overflow: visible;
        max-width: 915px;
        .swiper-buttons {
            .swiper-button-prev,
            .swiper-button-next {
                background-color: #fff;
                &:hover {
                    background-color: $color-1;
                }
            }
            
            @media screen and(min-width: 1025px) {
                position: absolute;
                left: -323px;
                top: 75px;
            }
        }
    }
    .testimonial-item {
        display: flex;
        .img-box {
            margin-right: 25px;
        }
        .testimonial-content {
            width: 100%;
        }
        .testimonial-text {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.5625px;
            p {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.5625px;
            }
        }
        .testimonial-title {
            font-family: $bold-font;
            font-size: 16px;
            margin-top: 40px;
            letter-spacing: 0.4375px;
            color: #000;
            span {
                display: block;
                font-size: 16px;
                letter-spacing: 0.4375px;
                color: #696969;
                margin-top: 5px;
            }
        }
    }

    @media screen and(max-width: 1024px) {
        .container {
            flex-direction: column;
        }
        .swiper-container {
            max-width: 100%;
        }
        .swiper-inventar {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
        .swiper-buttons {
            justify-content: center;
            align-items: center;
            padding: 30px 0 0 0;
        }
    }

    @media screen and(max-width: 768px) {
        .swiper-wrapper {
            align-items: center;
        }
        .testimonial-item {
            .img-box {
                display: none;
            }
        }
        .testimonial-content {
            text-align: center;
        }
    }
}