.section-text-image {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    .text-content {
        padding: 40px;
    }
    .img-box {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .icon {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: $color-1;
        margin-bottom: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-weight: bold;
        font-size: 26px;
        line-height: 52px;
        letter-spacing: 0.270833px;
        color: #3D4047;
        margin-bottom: 12px;
    }
    .text {
        p {
            font-size: 22px;
            line-height: 30px;
        }
        a {
            color: $color-1;
            text-decoration: none;
        }
    }
    .flex-row {
        padding: 0;
        &:nth-child(odd) {
            background-color: $color-1;
            .icon {
                background-color: #fff;
                img {
                    filter: invert(1);
                }
            }
            .title {
                color: #fff;
            }
            .text {
                p {
                    color: #fff;
                }
            }
            .text-content {
                margin-left: auto;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    @media screen and(max-width: 768px) {
        .flex-row {
            padding: 15px 0;
            flex-direction: column;
            &:last-child {
                padding-bottom: 0;
            }
            .text-content {
                padding-right: 0;
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .icon {
                width: 38px;
                height: 38px;
                margin-right: 10px;
            }
            .title {
                flex: 1 0 calc(100% - 62px);
                font-size: 24px;
                line-height: 40px;
            }
            .text {
                flex: 1 0 100%;
            }
            &:nth-child(odd) {
                .text-content {
                    margin-left: 0;
                    padding: 40px 20px;
                }
            }
            &:nth-child(even) {
                flex-direction: column;
                .text-content {
                    padding: 40px 20px;
                }
            }
        }
    }
}
.swiper-text {
    padding: 80px 0;
    .swiper-buttons {
        position: absolute;
        bottom: 10px;
        left: 0;
        .swiper-button-next,
        .swiper-button-prev {
            background-color: #fff;
            &:hover {
                background-color: $color-1;
            }
        }
    }
}