.timeline-content {
    display: flex;
    .timeline-item {
        display: flex;
        background-color: rgba($color-1, 0.8);
        flex: 1 1 auto;
        max-width: 78px;
        transition: max-width 0.5s ease-in-out;
        .timeline-title {
            flex-shrink: 0;
            width: 78px;
            color: #fff;
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: auto;
            font-size: 29px;
            line-height: 26px;
            letter-spacing: 0.302083px;
        }
        .timeline-item-info {
            visibility: hidden;
            overflow: hidden;
            position: relative;
            padding: 100px 43px 37px 43px;
            display: none;
            flex-wrap: wrap;
            width: 100%;
            height: 480px;
            .timeline-counter {
                width: 100%;
                max-width: 33.33%;
                margin-bottom: 40px;
                padding-right: 30px;
                transform: translateY(100px);
                opacity: 0;
                transition-delay: 2s;
                transition-property: all;
                transition-duration: 2s;
                transition-timing-function: ease-in;
                .timeline-counter-number {
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 62px;
                    letter-spacing: 0.5px;
                    color: #fff;
                    margin-bottom: 24px;
                }
                .timeline-counter-title {
                    border-top: 1px solid #fff;
                    padding-top: 20px;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.166667px;
                    color: #fff;;
                }
            }
            &::before {
                content: "";
                position: absolute;
                left: 43px;
                top: 37px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: $color-3 url(../../images/icon-counter.svg) no-repeat center;
            }
        }
        &.is-active {
            max-width: 100%;
            .timeline-title {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -10px;
                    margin-top: -10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 10px;
                }
            }
            .timeline-item-info {
                visibility: visible;
                display: flex;
                .timeline-counter {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &:nth-child(1n + 1) {
            .timeline-title {
                background-color: $color-1;
                &::before {
                    border-color: transparent transparent transparent $color-1;
                }
            }
        }
        &:nth-child(2n + 1) {
            .timeline-title {
                background-color: $color-2;
                &::before {
                    border-color: transparent transparent transparent $color-2;
                }
            }
        }
        &:nth-child(3n + 1) {
            .timeline-title {
                background-color: $color-3;
                &::before {
                    border-color: transparent transparent transparent $color-3;
                }
            }
        }
    }

    @media screen and(max-width: 768px) {
        flex-direction: column;
        .timeline-item {
            flex-direction: column-reverse;
            width: 100%;
            flex: 1 0 100%;
            max-width: 100%;
            .timeline-title {
                width: 100%;
                writing-mode: inherit;
                -webkit-writing-mode: inherit;
                -ms-writing-mode: inherit;
                padding: 30px 10px;
            }
            &.is-active {
                .timeline-title {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-top: 0;
                        margin-left: -10px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                    }
                }
            }
            &:nth-child(1n + 1) {
                .timeline-title {
                    &::before {
                        border-color: $color-1 transparent transparent transparent;
                    }
                }
            }
            &:nth-child(2n + 1) {
                .timeline-title {
                    &::before {
                        border-color: $color-2 transparent transparent transparent;
                    }
                }
            }
            &:nth-child(3n + 1) {
                .timeline-title {
                    &::before {
                        border-color: $color-3 transparent transparent  transparent;
                    }
                }
            }
            .timeline-item-info {
                padding: 80px 20px 25px 20px;
                width: 100%;
                height: auto;
                &::before {
                    top: 20px;
                    left: 20px;
                }
                .timeline-counter {
                    width: 100%;
                    max-width: 50%;
                    margin-bottom: 30px;
                    padding-right: 15px;
                    .timeline-counter-number {
                        font-size: 36px;
                        line-height: 46px;
                        margin-bottom: 14px;
                    }
                    .timeline-counter-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}