.section-video {
    background-color: $color-2;
    overflow: hidden;
    height: 100vh;
    padding: 0 !important;
    position: relative;
    .video {
        width: 100%;
        display: block;
        margin: 0;
        cursor: url(../../images/icon-close.svg), auto;
    }
    .flex-box {
        align-items: flex-start;
    }
    .video-box {
        position: relative;
        width: 100%;
        .close-video {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 20px;
            background-color: $color-1;
            color: #fff;
            z-index: 9999;
            display: flex;
            align-items: center;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            .icon {
                margin-right: 9px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;

        }
    }
    .flex-box {
        transition: all 0.3s ease-in-out;
    }
    .video-information-content {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding: 40px 0;
    }
    &.is-active {
        .flex-box {
            flex: 1 0 100%;
            max-width: 100%;
            height: 100vh;
            &:nth-child(2) {
                width: 0;
                flex: 1 0 0%;
                max-width: initial;
            }
        }
        .video {
            width: 100%;
        }
        .video-box {
            &::after {
                display: none;
            }
            .close-video {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .title-container {
        .main-title {
            font-size: 48px;
            line-height: 62px;
        }
    }
    .button-container {
        .btn + .btn {
            margin-left: 15px;
        }
    }

    @media screen and(min-width: 1025px) {
        .video-box {
            height: 100vh;
            overflow: hidden;
            .video {
                position: absolute;
                left: 50%;
                top: 50%;
                width: auto;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and(max-width: 1024px) {
        height: auto;
        &.is-active {
            .flex-box {
                height: auto;
                &:nth-child(2) {
                    flex: 1 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
        .flex-row {
            flex-direction: column;
        }
        .title-container {
            text-align: center;
            .main-title {
                font-size: 22px;
                line-height: 30px;
                text-align: center;
                letter-spacing: 0.229167px;
            }
            .text {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .flex-box-content {
            margin: 0 auto;
            max-width: 80%;
            padding: 30px;
            text-align: center;
        }
        .button-container {
            justify-content: center;
            margin-top: 25px;
        }
    }

    @media screen and(min-width: 769px) {
        .video-information-content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(#000, 0.5);
            .title-container {
                .main-title {
                    color: #fff;
                }
                .text {
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }

    @media screen and(max-width: 685px) {
        .flex-box-content {
            max-width: 100%;
        }
    }
}