.footer {
    padding: 63px 0 0 0 !important;
    .footer-navigation {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .nav-title {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.5px;
            color: #464646;
            margin-bottom: 5px;
            a {
                display: block;
                text-decoration: none;
                color: #464646;
                transition: $two-ms;
                &:hover {
                    color: #000;
                }
            }
        }
        .nav-box {
            max-width: 240px;
            width: 100%;
            flex-shrink: 0;
        }
        .text {
            p {
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.46875px;
                color: #858282;
                margin-bottom: 15px;
                br {
                    display: none;
                }
            }
            a {
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.46875px;
                color: #858282;
                text-decoration: none;
                display: block;
                & + a {
                    margin-top: 8px;
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                span,
                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 6px 0;
                    font-size: 15px;
                    letter-spacing: 0.46875px;
                    color: #858282;
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        background: $color-1;
                        display: inline-block;
                        transition: $two-ms;
                        opacity: 0;
                        visibility: hidden;
                    }
                    
                    @media screen and(min-width: 1025px) {
                        &:hover {
                            &::after {
                                bottom: 2px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid rgba(#979797, .4);
        padding: 30px 0;
        margin-top: 80px;
        .flex-box {
            display: flex;
            align-items: center;

            &.width-auto {
                width: auto;
            }
        }
        ul {
            list-style: none;
            margin: 0 0 0 40px;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                a {
                    display: block;
                    padding: 5px 0;
                    text-decoration: none;
                }
                & + li {
                    margin-left: 30px;
                }
            }
        }
        .social-nav {
            margin-left: auto;
            ul {
                li {
                    a {
                        display: flex;
                        padding: 0;
                    }
                }
            }
        }
        p,
        a {
            font-size: 13px;
            line-height: 26px;
            letter-spacing: 0.40625px;
            color: #858282;
        }
    }

    @media screen and(max-width: 768px) {
        .logo {
            display: none;
        }
    }

    @media screen and(max-width: 685px) {
        padding: 40px 0 0 0 !important;
        .footer-navigation {
            flex-wrap: wrap;
            justify-content: flex-start;
            .nav-box {
                flex: 1 0 50%;
                margin-bottom: 40px;
            }
            .nav-title {
                font-size: 14px;
            }
            .text {
                a, p {
                    font-size: 12px;
                }
            }
            ul {
                li {
                    a, span {
                        font-size: 12px;
                    }
                }
            }
        }
        .footer-bottom {
            margin-top: 0;
            padding: 15px 0;
            .flex-row {
                justify-content: space-between;
                align-items: center;
            }
            .flex-box {
                width: auto;
                align-items: flex-start;
                flex-direction: column-reverse;
            }
            ul {
                margin: 0;
            }
        }
    }
}
