.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 29px 0;
    z-index: 9990;
    transition: $two-ms;

    &:not(.homepage-header) {
        background-color: #fff;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-right: auto;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            padding: 0 20px;
            position: relative;

            &.nav-covid {
                a {
                    font-family: $bold-font;
                    color: $color-1;
                }
            }

            a, span:not(.nav-link) {
                display: block;
                padding: 10px 0;
                text-decoration: none;
                color: $nav-link-color;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: 0.5px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 100%;
                    bottom: 0;
                    height: 3px;
                    background: $color-1;
                    display: inline-block;
                    transition: $three-ms;
                    opacity: 0;
                    visibility: hidden;
                }
                
                @media screen and(min-width: 1025px) {
                    &:hover {
                        &::after {
                            opacity: 1;
                            visibility: visible;
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                left: 0;
                top: 100%;
                width: 220px;
                background-color: #fff;
                padding: 10px 0;
                opacity: 0;
                visibility: hidden;
                transition: $two-ms;

                li {
                    a,
                    span {
                        display: block;
                        padding: 10px;
                        cursor: pointer;
                    }

                    > a {
                        padding: 0;
                        color: $nav-link-color !important;
                    }
                }
            }
            
            @media screen and(min-width: 1025px) {
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .lng-switcher {
        margin-left: 10px;
        li {
            padding: 0;
            a {
                padding: 0;
                display: flex;
                align-items: center;
                font-size: 12px;
                line-height: 26px;
                letter-spacing: 0.5px;
                color: rgba(#474646, .6);
                transition: $two-ms;
                &::after {
                    display: none;
                }
                &:hover {
                    color: #000;
                }
                .icon {
                    margin-right: 8px;
                }
            }
        }
    }

    &.homepage-header:not(.is-active) {
        ul {
            li {
                &.nav-covid {
                    a {
                        font-family: $bold-font;
                        color: $color-1;
                    }
                }

                a {
                    color: #fff;
                }
            }
        }
    }

    &.is-active {
        background-color: #fff;
        padding: 15px 0;
    }

    #toggle-nav {
        display: none;
    }

    @media screen and(min-width: 1025px) {
        &.homepage-header:not(.is-active) {
            .main-navigation {
                display: none;
            }

            .logo {
                margin: auto;

                img {
                    width: 200px;
                }
            }
        }        
    }

    @media screen and(max-width: 1024px) {
        padding: 15px 0;

        .logo {
            img {
                max-width: 109px;
            }
        }

        #toggle-nav {
            display: block;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: #fff;
            background-image: url(../../images/icon-toggle.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            z-index: 99999;
        }

        .main-navigation {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            padding-top: 60px;
            width: 290px;
            transform: translateX(100%);
            transition: $three-ms;
            ul {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .lng-switcher {
            position: fixed;
            bottom: 40px;
            right: 210px;
            visibility: hidden;
            opacity: 0;
            transition: $two-ms;
            transition: $three-ms;
        }

        &.nav-active {
            .main-navigation {
                transform: translateX(0);
            }

            ul li a {
                color: $nav-link-color !important;
            }

            #toggle-nav {
                background-image: url(../../images/icon-close.svg);
            }

            .lng-switcher {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}